/**
 * Documentation Viewer Styles.
 *
 * Vertical grid = 7px
 */

/*! reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { 
	margin: 0; padding: 0;
}

/*! core */
html { 
	background: #eff1f2;
}

body { 
	font: 14px/21px Helvetica, Arial,sans-serif; 
	color: #444; 
}

a { color: #1389ce; text-decoration: none; }
	a:hover,
	a:focus { text-decoration: underline;}
	
p { 
	font-size: 14px; line-height: 21px; margin-bottom: 21px; 
}

ul { margin: 14px 0 21px 20px; }
	li, dd { font-size: 14px; line-height: 21px; margin-bottom: 7px;}
	li { list-style-position: inside; }
	li ul,
	li ol { margin-top: 7px; }
dl { margin: 7px 0 21px 0; }
	dt { font-weight: bold; }
	dd { margin: 7px 0 7px 20px; }

h1 { font-size: 33px; line-height: 35px; margin-bottom: 14px; color: #111; letter-spacing: -1px;}
h2 { font-size: 24px; line-height: 28px; margin-bottom: 14px; color: #111; }
h3 { font-size: 18px; line-height: 21px; margin-bottom: 7px; color: #111; }
h4 { font-size: 16px; margin-bottom: 14px; line-height: 21px;}
h5 { font-size: 14px; line-height: 14px; margin-bottom: 7px;}

img {
	max-width: 600px;
}
pre { 
	margin-bottom: 21px; 
	font-family: 'Bitstream Vera Sans Mono',Monaco, 'Courier New', monospace; 
	background: #f4f4f4;
	border: 1px solid #f6fbfe;
	padding: 6px;
	font-size: 12px;
	color: #444;
}

code {
	background: none repeat scroll 0 0 #F9FAF4;
	font: 11px/14px Monaco, 'Bitstream Vera Sans Mono', Courier, monospace;
}

/* Forms */
fieldset { border: none; }

/* Container */
#container { 
	width: 960px; 
	margin: 28px auto 21px auto; padding: 14px 20px; 
	background: #fff; 
	overflow: hidden; 
	-webkit-box-shadow: 0 0 15px #e0e3e4; 
	-moz-box-shadow: 0 0 15px #e0e3e4;
	box-shadow: 0 0 15px #e0e3e4;

	-moz-border-radius: 4px;
	border-radius: 4px;
}
	
/* Header */
#header { 
}
	#header h1 { 
		margin-bottom: 0px; 
	}
		#header h1 a { 
			text-decoration: none; letter-spacing: -1px;
		}
	
	#header #breadcrumbs p { font-size: 11px; margin: 0 0 10px 0; color: #798D85;}
		#header #breadcrumbs p a { color: #798D85;}
	
/* Language Bar */
#language { position: absolute; top: 12px; left: 50%; margin-left: -480px; width: 960px; }
	#language label { float: left; width: 830px; line-height: 19px; text-align: right; font-size: 11px; color: #999;}
	#language select { float: right; width: 120px;}
	#language input.action { float: right; margin-top: 4px;}
	
/* Footer */
#footer { width: 960px; 
	margin: 21px auto; 
}
	#footer p { 
		font-size: 11px; line-height: 21px; color: #798D85;
	}
		#footer p a { color: #798D85;}

/* module and version selection */
#top-nav { float: left; }

/* Search */
#search { float: right; }		
	#search label { display: none; }
/* Breadcrumbs */
#breadcrumbs { float: none; }

/* Content */
#layout { }
#content { }

/* Versions */
.documentation-nav { 
	clear: both;
	padding: 7px 0 0; 
	overflow: hidden; color: #999; 
	font-size: 11px;
	line-height: 20px;
}
	.documentation-nav h2 { 
		font-size: 11px; 
		font-weight: normal; 
		float: left; 
		margin: 0 5px 0 0;
		color: #999;
		line-height: 20px;
	}

	.documentation-nav ul { 
		margin: 0; padding: 0; float: left;
	}
		.documentation-nav li { 
			display: inline; list-style: none; 
			padding: 0; margin: 0; 
			font-size: 11px; 
		}
			.documentation-nav li a { 
				margin-left: 5px; padding: 0px; 
			}
				.documentation-nav li a.current { 
					background: #0973A6; color: #fff; 
					font-weight: bold; 
					padding: 4px;
					-moz-border-radius: 4px; 
					border-radius: 4px; 
				}
					.documentation-nav li a.current:hover,
					.documentation-nav li a.current:focus {
						text-decoration: none;
					}


				
/* Links to API */
#left-column a[href^="http://api."] {
	padding: 2px;
	font-family: Monaco, 'Bitstream Vera Sans Mono', Courier, monospace;
	background: url(../../ssorgsites/images/external_link.png) no-repeat right 3px;
	padding-right: 14px;
}				
#content-column {

}

#sidebar-column {
}

	#sidebar-column .box {
		margin: 0 12px 12px 0;
	}
	
	/* Nested tree */
	.box ul.tree {}
		.box ul.tree li {
			list-style: none;
		}
			.box ul.tree li.folder {
				background: #d5eefd;
				font-size: 12px;
				color: #29688c;
				margin-bottom: 9px;
				border: 1px solid #d5eefd;
				padding: 2px 6px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
.undocumented-modules {
	clear: both;
	padding-top: 10px;
	font-style: italic;
}

.module { margin: 10px 0; }

/** 
 * TOC 
 */
.sidebar-box {
	margin: 0 0 11px 0;
	padding: 7px 15px;
	background: #f6fbfe;
	border: 1px solid #DDE8ED;

	-moz-border-radius: 4px;
	border-radius: 4px;
}
	.sidebar-box ul { margin: 0; padding: 0;}
	.sidebar-box h4 { font-size: 12px; margin-bottom: 11px;}
	.sidebar-box ul li {	list-style: none; }
	.sidebar-box ul li .current { font-weight: bold;}
		.sidebar-box ul li.h1 { margin-top: 11px; font-weight: bold;}
		.sidebar-box ul li.h2,
		.sidebar-box ul ul { margin-top: 8px;}
		.sidebar-box ul li li { font-size: 11px; margin-left: 10px;}
		.sidebar-box ul li.h3,
		.sidebar-box ul li li li { margin-left: 20px; font-size: 10px; margin-left: 20px;}
		.sidebar-box ul li.h4,
		.sidebar-box ul li li li li { margin-right: 30px; font-size: 10px; 	margin-left: 20px; }

	
/* Code styles - each site should have syntaxhighlighter installed for
 code blocks */
.syntaxhighlighter { padding: 9px 0; }

#edit-link {
	margin: 7px 0;
}
	#edit-link p {
		margin: 0;
		overflow: hidden;
	}

	#edit-link a {
		display: block;
		background: #fafafa; /* Old browsers */
		background: -moz-linear-gradient(top, #fafafa 1%, #e6e6e6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fafafa), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fafafa 1%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fafafa 1%,#e6e6e6 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fafafa 1%,#e6e6e6 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fafafa 1%,#e6e6e6 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */

		border: 1px solid #d4d4d4;
		border-bottom-color: #bcbcbc;
		text-shadow: 0 1px 0 #fff;
		color: #333;
		font-weight: bold;
		margin-bottom: 5px;
		text-decoration: none;
		padding: 5px 10px;

		-moz-border-radius: 3px;
		border-radius: 3px;
		float: left;
	}
		#edit-link a:hover,
		#edit-link a:focus {
			color: #fff;
			text-shadow: 0 -1px 1px #3072B3;
			border-color: #518CC6;
			background: #599BDC;
			background: -moz-linear-gradient(top, #599BDC 1%, #3072B3 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3072B3), color-stop(100%,#3072B3)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #599BDC 1%,#3072B3 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #599BDC 1%,#3072B3 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #599BDC 1%,#3072B3 100%); /* IE10+ */
			background: linear-gradient(to bottom, #599BDC 1%,#3072B3 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#599BDC', endColorstr='#3072B3',GradientType=0 ); /* IE6-9 */
		}

/* contains the arrow that marks a folder */
span.is-folder {float: right;}