/**
 * Documentation Viewer Styles.
 *
 * @author Will Rossiter <will@silverstripe.com>
 */

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin:0;padding: 0;}

/* Core */
html { background: #f4f4f4;}
body { font: 14px/1.1 Arial,sans-serif; color: #444; }

a { color: #1389ce; text-decoration: none; }
	a:hover,
	a:focus { text-decoration: underline;}
	
p { font-size: 14px; line-height: 22px; margin-bottom: 22px; }

ul { margin: 11px 0 22px 20px; }
	li, dd { font-size: 12px; line-height: 13px; margin-bottom: 8px;}

dl { margin: 11px 0 22px 0; }
	dt { font-weight: bold; }
	dd { margin: 5px 0 8px 20px; }

h1 { font-size: 33px; line-height: 33px; margin-bottom: 22px; color: #111; letter-spacing: -1px;}
h2 { font-size: 24px; line-height: 33px; margin-bottom: 11px; color: #111; }
h3 { font-size: 18px; line-height: 22px; margin-bottom: 11px; color: #111; }
h4 { font-size: 16px; margin-bottom: 11px; line-height: 22px;}
h5 { font-size: 14px; line-height: 22px; margin-bottom: 11px;}

pre { 
	margin-bottom: 22px; 
	font-family:'Bitstream Vera Sans Mono',Monaco, 'Courier New', monospace; 
	background: #f4f4f4;
	padding: 11px;
	font-size: 11px;
}

/* Forms */
fieldset { border: none; }

/* Container */
#container { width: 960px; margin: 44px auto 22px auto; padding: 22px 30px; background: #fff; overflow: hidden; 
				-webkit-box-shadow: 0 0 20px #ccc; -moz-box-shadow: 0 0 20px #ccc;}
	
/* Header */
#header { padding: 11px 0 0 0; margin-bottom: 22px; }
	#header h1 { margin-bottom: 0px; line-height: 33px;}
		#header h1 a { text-decoration: none; font-size: 30px; color: #121929; letter-spacing: -1px;}
	
	#header #breadcrumbs p { font-size: 11px; margin: 0 0 10px 0; color: #798D85;}
		#header #breadcrumbs p a { color: #798D85;}
	
/* Language Bar */
#language { position: absolute; top: 12px; left: 50%; margin-left: -480px; width: 960px; }
	#language label { float: left; width: 830px; line-height: 19px; text-align: right; font-size: 11px; color: #999;}
	#language select { float: right; width: 120px;}
	#language input.action { float: right; margin-top: 4px;}
	
/* Footer */
#footer { width: 960px; margin: 22px auto; }
	#footer p { font-size: 11px; line-height: 11px; color: #798D85;}
		#footer p a { color: #798D85;}
		
/* Content */
#layout { }
#content { }

/* Versions */
.documentation-nav { 
	clear: both;
	margin: 0 0 5px; 
	overflow: hidden; color: #999999; 
	font-size: 11px;
}
	.documentation-nav h2 { font-size: 11px; font-weight: normal; float: left; margin-right: 5px;}
	.documentation-nav ul { margin: 0; padding: 0; float: left;}
		.documentation-nav li { display: inline; list-style: none; padding: 0; margin: 0; font-size: 11px; }
			.documentation-nav li a { margin-left: 5px; padding: 0px; }
				.documentation-nav li a.current { 
					background: #0973A6; color: #fff; font-weight: bold; 
					padding: 4px;
					-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
				}
					.documentation-nav li a.current:hover,
					.documentation-nav li a.current:focus {
						text-decoration: none;
					}
					
#left-column { width: 640px; float: left; }

#right-column {
	width: 260px; 
	float: right;
}

	#right-column .box {
		margin: 0 12px 12px 0;
	}
	
	/* Nested tree */
	.box ul.tree {}
		.box ul.tree li {
			list-style: none;
		}
			.box ul.tree li.folder {
				background: #d5eefd;
				font-size: 12px;
				color: #29688c;
				margin-bottom: 9px;
				border: 1px solid #d5eefd;
				padding: 2px 6px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
.undocumented-modules {
	clear: both;
	padding-top: 10px;
	font-style: italic;
}

.module { margin: 10px -; }

/** 
 * TOC 
 */

.sidebar-box {
	margin: 0 0 11px 0;
	padding: 11px 15px;
	background: #f4f4f4;
	width: 220px;
}
	.sidebar-box ul { margin: 0; padding: 0;}
	.sidebar-box h4 { font-size: 12px; margin-bottom: 11px;}
	.sidebar-box ul li {	list-style: none; }
	.sidebar-box ul li .current { font-weight: bold;}
		.sidebar-box ul li.h1 { margin-top: 11px; font-weight: bold;}
		.sidebar-box ul li.h2,
		.sidebar-box ul ul { margin-top: 8px;}
		.sidebar-box ul li li { font-size: 11px; margin-left: 10px;}
		.sidebar-box ul li.h3,
		.sidebar-box ul li li li { margin-left: 20px; font-size: 10px; margin-left: 20px;}
		.sidebar-box ul li.h4,
		.sidebar-box ul li li li li { margin-right: 30px; font-size: 10px; 	margin-left: 20px; }