html { 
	background: #f0f0f0; 
	font: 14px/20px Helvetica Neue, Helvetica, arial, sans-serif; 
	color: #334348;
	padding-bottom: 40px;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*! container */
.wrapper {
	margin: 20px auto; 
	max-width: 1020px;
	width: 100%;
}

.box {
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-box-shadow: 0 1px 3px #e0e3e4; 
	-moz-box-shadow: 0 1px 3px #e0e3e4;
	box-shadow: 0 1px 3px #e0e3e4;
	border-radius: 3px;
}

.introduction {
	margin: -30px -30px 30px;
	padding: 30px;
	background: rgb(3, 91, 136);
}
	.introduction h1 {
		color: #fff;
		margin-bottom: 20px;
	}

	.introduction p {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 10px;
		max-width: 80%;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
		color: #fff;
		color: rgba(255, 255, 255, 0.8);
	}


.no-box {
	padding: 15px;
}

/*! main content column */
#content {
	float: right;
	width: 72%;
}
	#content .box {
		padding: 30px; 
	}
/*! sidebar */
#sidebar {
	width: 25%;
	float: left;
}
	#sidebar .nav,
	#sidebar .minor-nav {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#sidebar .nav .top {
		width: 100%;
		display: block;
		font-size: 14px;
		line-height: 15px;
		color: #181C17;
		border-bottom: 1px solid #eee;
		padding: 15px 15px 14px;
	}

	#sidebar .nav .current .top {
		background: #f6f7f8;
		border: none;
		font-weight: bold;
	}

	#sidebar li {
		margin: 0;
	}
	
	#sidebar .nav .current ul {
		background: #f6f7f8;
		border-bottom: 1px solid #eee;
		margin: 0;
		padding: 0 0 10px 24px;
	}

	#sidebar .nav .current ul ul {
		padding: 5px 0 10px 10px;
	}
	#sidebar .nav .current li {
		font-weight: normal;
		padding: 5px 0 5px 0;
		list-style: none;
		font-size: 13px;
	}
		#sidebar .nav .current a {
			color: rgb(51, 67, 72);
		}

	#sidebar .minor-nav a {
		color: #181C17;
		opacity: 0.4;
	}

	#sidebar .nav a.current {
		font-weight: bold;
	}

	#sidebar .search {

	}
		#sidebar .search fieldset {
			border-bottom: 1px solid #eee;
			padding: 15px 10px 14px;
		}

		#sidebar .search label,
		#sidebar .search .Actions {
			display: none;
		}

		#sidebar .search input {
			width: 100%;
			outline: none;
			border-radius: 2px;
			border: 1px solid #ddd;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
			padding: 9px;
		}

		#sidebar .search input:focus {
			border-color: #1389ce;
		}

#layout {
	padding-bottom: 20px;
}

/*! language */
#language { 

}

	#language label { 
		float: left; 
		width: 830px; 
		line-height: 19px; 
		text-align: right; 
		font-size: 11px; 
		color: #999;
	}

	#language select { 
		float: right; 
		width: 120px;
	}

	#language input.action { 
		float: right; 
		margin-top: 4px;
	}

/* Header */
#header { 
	padding: 0 0 14px 0; 
	overflow: hidden;
}
	#header h1 { 
		margin: 0; 
		line-height: 38px; 
		float: left; 
	}
		#header h1 a { 
			text-decoration: none; 
			font-size: 22px; 
			color: #0973A6; 
			letter-spacing: -1px;
		}
		
		#header .logo { 
			background: #fff url(../../docsviewer/images/logo.jpg) no-repeat bottom left; 
			height: 36px; width: 140px; 
			display: inline-block; 
		}


/* Search Results */
#search-results {

}
	#search-results li { 
		list-style: none; 
		border-bottom: 1px solid #ddd; 
		padding: 0 0 19px 0; 
		margin: 0 0 20px 0;
		background: none;
	}

/* Comments */
#comments {
	clear: both;
	padding-top: 18px;
}

	#comments .notice {
		font-size: 12px;
	}

/* Footer */
#footer { 
	margin: 20px auto; 
	padding: 0 30px;
}
	#footer p { 
		color: #798D85;
	}
		#footer p a { 
			color: #798D85;
		}

/*! Pagination */
#page-numbers span,
#page-numbers a {
	padding: 3px 5px;
}

#page-numbers span {

}
	#page-numbers a:hover {
		color: #FFFFFF;
		background-color: #005F99;
	}

.pagination {
	margin: 27px 0;	
}
	.pagination li {
		display: inline;
		background: none;
		padding: 0 4px 0 0;
	}

	.pagination li strong, .pagination li a {
		padding: 1px 4px;
	}

	.pagination li.active strong {
		background-color: #c3dbd4;
	}

	.pagination li a:hover {
		background-color: #0973A6;
		color: #fff;
		text-decoration: none;
	}

/* Table of contents */
#table-of-contents {
	margin: 0 0 10px 0;
	padding: 6px 6px 6px 10px;
	background: #f6fbfe;
	border: 1px solid #DDE8ED;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 21px;
}
	#table-of-contents h4 {
		font-size: 12px;
		margin: 0;
		padding: 0;
	}
		#table-of-contents h4 span.updown {
			color: #a2c1d0;
			margin-left: 6px;
			font-size: 10px;
		}

		#table-of-contents h4:hover {
			opacity: 0.8;
		}
	#table-of-contents ul {
		margin: 0;
		padding: 0;

	}
		#table-of-contents li {
			line-height: 14px;
			padding: 0;
			list-style: none;
			margin: 0;
			line-height: 20px;
		}
		#table-of-contents li.H2 { padding-left:20px; }
		#table-of-contents li.H3 { padding-left:40px; }
		#table-of-contents li.H4 { padding-left:60px; }
		#table-of-contents li.H5 { padding-left:80px; }
		#table-of-contents li.H6 { padding-left:100px; }

			#table-of-contents li li {
				padding-left: 20px;
			}
	#table-of-contents a,
	#table-of-contents a:visited {
		color: #1389ce;
		text-decoration: none;
	}

	#table-of-contents a:hover,
	#table-of-contents a:focus {
		text-decoration: underline;
		color: #1389ce;
	}

/*! Messages */

/**
 * Example:
 * <div class="info">
 * 	<h5>This is a info message</h5>
 * 	<p>Body text</p>
 * 	<a href="#" class="close" title="Close notification">close</a>
 * </div>
 */
#content .warningBox h5, 
#content .hint h5, 
#content .notice h5, 
#content .warning h5, 
#content .info h5 { 
	margin-bottom: 0px; 
}

.hint a.close, 
.notice a.close, 
.warning a.close, 
.info a.close {
	background:url(../../docsviewer/images/ico_close_off.png) no-repeat scroll left top transparent;
	display:block;
	font-size:0;
	height:11px;
	position:absolute;
	right:3px;
	text-indent:-9999px;
	top:3px;
	width:11px;
}

.hint,
.note,
.notice,
.warning,
.alert,
.info,
.pageSkip {
	border: 1px solid #ddd;
	padding: 24px 20px 24px 60px;
	clear: both;
	position: relative;
	margin: 10px 0 20px;
	background: #f9fafa url(../../docsviewer/images/lightbulb.png) no-repeat 16px 26px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
	.typography .note h3,
	.typography .hint h3 {
		line-height: 27px;
	}

.hint p,
.note p,
.notice p,
.alert p,
.warning p,
.info p {
	margin-bottom: 0;
}
.pageSkip {
	background-color: #f9fafa;
	border: 1px solid #a5b5b0;
	text-align: center;
}

.notice,
.note {
	border-color: #D3C200;
	background: #FFFAC6 url(../../docsviewer/images/notification.png) no-repeat 18px 18px;
}

.warning,
.alert {
	border-color: #f8c3cd;
	background: #fdf1f3 url(../../docsviewer/images/error_button.png) no-repeat 12px 17px;
}

.info {
	border-color: #BDDEF6;
	background: #f7fcff url(../../docsviewer/images/info_button.png) no-repeat 18px 17px;
}

	.warning p {
		margin-bottom: 0;
	}

.warningBoxTop {
	padding: 10px 10px 10px 70px;
	background: url(../../docsviewer/images/warning.png) no-repeat 18px 14px;
}

#content .warningBoxTop h1 { 
	margin-bottom: 0;
}

#content .warningBoxTop ul { 
	margin: 9px 0 18px; 
}

#content .warningBoxTop li { 
	margin-bottom: 0; 
}

#content .warningBoxBottom { 
	background-color: #0973A6; 
	padding: 12px 0 16px;
}
	#content .warningBoxBottom a { color: #fff; }
	#content .warningBoxBottom a:hover { color: #f3fbfe; }
	#content .warningBoxBottom ul { margin: 0 0 0 40px; }
	#content .warningBoxBottom li { background: none; margin-bottom: 0; }

.doc-breadcrumbs {
	margin-top: -10px;
}
	.doc-breadcrumbs p { 
		font-size: 11px; 
		margin: 0 0 5px 0; 
		color: #999;
	}
		.doc-breadcrumbs p a { 
			color: #999; 
		}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 40px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
	.well h4 {
		margin-top: 0;
	}

.result {

}
	.result h2 {
		margin-bottom: 0;
	}

.documentation_children {
	overflow: hidden;
	padding-bottom: 20px;
}

	.documentation_children ul {
		margin: 0;
	}

	.documentation_children h3 {
		font-size: 16px;
		border-top: 1px solid #ddd;
		padding-top: 19px;
		margin-top: 0;
		margin-bottom: 0 0 1px 0;
	}

	.documentation_children li {
		float: left;
		width: 33%;
		margin: 0 0 40px;
		padding: 0 3% 0 0;
		list-style: none;
	}

	.documentation_children li:nth-child(3n+1) {
		clear: both;
	}

	.documentation_children p {
		font-size: 13px;
		opacity: 0.9;
	}

.next-prev {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 19px;
	overflow: hidden;
}
	.next-prev a {
		color: #798D85;
	}

	.next-prev p {
		margin: 0;
	}

	.next-prev .prev-link {
		float: left;
	}

	.next-prev .next-link {
		float: right;
	}